---
interface Props {
  class?: string;
  id: string;
}

const { class: className, id, ...rest } = Astro.props;
---

<section id={id} class={`w-full max-w-6xl mx-auto ${className ?? ""}`} {...rest}>
  <slot />
</section>
