---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<h4
  class={`
    z-[1] text-center text-balance font-bold leading-5
    text-lg min-[500px]:text-xl md:text-2xl xl:text-3xl
  `}
>
  {title}
</h4>
