<div
  class={`
    backdrop-blur-sm md:backdrop-blur-none
    flex justify-end w-full md:justify-center
    px-3 py-3 md:px-4 md:pt-0 md:pb-8 lg:pb-14
    border border-b-0 border-x-0 border-white/20 md:border-t-0
  `}
>
  <slot />
</div>
