---
import { SERVICES } from "./services";

import ServicesBento from "./ServicesBento.astro";
import ServicesBentoItem from "./ServicesBentoItem.astro";
---

<h3
  class="font-['Caveat_Brush'] text-white text-5xl lg:text-6xl text-center mb-8 lg:mb-10"
>
  Servicios
</h3>
<ServicesBento>
  {SERVICES.map((service) => <ServicesBentoItem {...service} />)}
</ServicesBento>
