---
import ArrowIcon from "@/icons/ArrowIcon.astro";

interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a
  href={href}
  class={`
    px-2 md:pl-6 md:pr-5 py-1 md:h-12
    z-[1] backdrop-blur-md transition-all
    flex justify-center items-center gap-1 md:gap-2
    text-xs uppercase text-white font-semibold md:text-base
    md:opacity-0 md:group-hover:opacity-100 focus:opacity-100
    active:border-cerise-red-700 active:bg-cerise-red-700
    border-cerise-red-600 bg-cerise-red-600 md:bg-transparent
    border-1 md:border-2 md:border-white rounded-xl md:rounded-lg
    hover:opacity-100 hover:border-cerise-red-600 hover:bg-cerise-red-600
  `}
>
  Saber más
  <ArrowIcon class="hidden size-6 md:block md:size-7" />
</a>
