---
import { Image } from "astro:assets";

import HeroBentoItem from "../HeroBentoItem.astro";

import HelloTitle from "./HelloTitle.astro";
import HelloDescription from "./HelloDescription.astro";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<HeroBentoItem class=`relative ${className ?? ""}`>
  <div
    class={`
      absolute inset-0 opacity-20
      bg-gradient-to-r from-gray-200 via-gray-400 to-gray-600
    `}
  >
  </div>

  <div
    class={`
      absolute inset-0 p-4 min-[400px]:p-5 lg:p-8
      flex flex-col justify-center sm:justify-start
      gap-4 min-[400px]:gap-5
      text-white
    `}
  >
    <Image
      width="320"
      height="80"
      loading="eager"
      src="/gaterapia-logo.png"
      alt="Logotipo de Gaterapia"
      class="hidden md:block w-80 self-center mt-6 lg:mt-2 pointer-events-none select-none"
    />
    <HelloTitle />
    <HelloDescription />
  </div>
</HeroBentoItem>
