---
import HeroBentoItem from "../HeroBentoItem.astro";

import HelloTitle from "./HelloTitle.astro";
import HelloDescription from "./HelloDescription.astro";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<HeroBentoItem class=`relative ${className}`>
  <div
    class="absolute inset-0 opacity-20 bg-gradient-to-r from-gray-200 via-gray-400 to-gray-600"
  >
  </div>
  <div
    class="absolute inset-0 p-4 min-[400px]:p-5 flex flex-col gap-4 min-[400px]:gap-5 text-white"
  >
    <!-- Logo -->
    <h1 class="hidden md:block font-['Caveat_Brush'] text-7xl text-white">
      Gaterapia
    </h1>
    <HelloTitle />
    <HelloDescription />
  </div>
</HeroBentoItem>
