<div
  class="flex flex-col gap-4 text-base min-[400px]:text-lg lg:text-xl font-medium text-pretty"
>
  <p>
    <strong>Terapia floral</strong> (personas y animales) |
    <strong>Catsitting</strong> |
    <strong>Reiki</strong> (nivel 3) |
    <strong>Registros Akáshicos</strong> (personas y animales) |
    <strong>Comunicación telepática</strong> con animales
  </p>
  <p>
    Espero poder ayudarte
    <span class="inline-block align-bottom">
      <img
        src="/hero/hugging_face-emoji.webp"
        class="size-6 pointer-events-none select-none"
        alt="Emoji de una carita con los brazos abiertos, como si abrazara"
      />
    </span>
  </p>
</div>
