---
import { Avatar } from "@nextui-org/react";
---

<div class="flex items-center gap-2 min-[400px]:gap-4">
  <Avatar showFallback />
  <h2 class="text-base font-semibold min-[400px]:text-xl">
    Hola! Soy Juli
    <span class="inline-block align-middle">
      <img
        class="size-7 min-[400px]:size-8"
        src="/woman_raising_hand-emoji.webp"
        alt="Emoji de una mujer levantando la mano"
      />
    </span>
  </h2>
</div>
