---
import Hello from "./hello/Hello.astro";
import HeroBento from "./HeroBento.astro";
import HeroBentoItem from "./HeroBentoItem.astro";
---

<section id="hero" class="md:mt-6">
  <!-- TODO: reemplazar por logotipo -->
  <h1
    class="block md:hidden font-['Caveat_Brush'] text-5xl sm:text-6xl text-white text-center pb-6"
  >
    Gaterapia
  </h1>

  <HeroBento>
    <Hello class="hidden sm-flex" />
    <HeroBentoItem>
      <img src="/hero-photo.webp" alt="Foto de Juli, Smoking y Brisa" />
    </HeroBentoItem>
    <Hello class="flex sm-hidden" />
  </HeroBento>
</section>
