---
import Layout from "@/layouts/Layout.astro";

import Header from "@/components/header/Header.astro";
import HeroSection from "@/components/sections/hero/HeroSection.astro";
import MediaSection from "@/components/sections/media/MediaSection.astro";
import ReviewsSection from "@/components/sections/reviews/ReviewsSection.astro";
import ServicesSection from "@/components/sections/services/ServicesSection.astro";
---

<Layout title="Gaterapia">
	<Header />
	<main
		class="max-w-7xl mx-auto px-4 min-[1350px]:px-0 pb-16 flex flex-col gap-16"
	>
		<HeroSection />
		<ServicesSection />
		<MediaSection />
		<ReviewsSection />
	</main>
</Layout>
