---
import Layout from "@/layouts/Layout.astro";

import Section from "@/components/Section.astro";
import Header from "@/components/header/Header.astro";

import HeroSection from "@/components/sections/hero/HeroSection.astro";
import MediaSection from "@/components/sections/media/MediaSection.astro";
import ReviewsSection from "@/components/sections/reviews/ReviewsSection.astro";
import ServicesSection from "@/components/sections/services/ServicesSection.astro";
---

<Layout title="Gaterapia">
	<Header />
	<main class="w-full px-4 pb-16 flex flex-col gap-16">
		<Section id="hero" class="md:mt-6">
			<HeroSection />
		</Section>
		<Section id="servicios">
			<ServicesSection />
		</Section>
		<Section id="medios">
			<MediaSection />
		</Section>
		<Section id="opiniones">
			<ReviewsSection />
		</Section>
	</main>
</Layout>
