---
import Layout from "@/layouts/Layout.astro";

import Section from "@/components/Section.astro";
import Header from "@/components/header/Header.astro";
import Hero from "@/components/sections/hero/Hero.astro";
import Media from "@/components/sections/media/Media.astro";
import Reviews from "@/components/sections/reviews/Reviews.astro";
import Services from "@/components/sections/services/Services.astro";
---

<Layout title="Gaterapia">
	<Header />
	<main class="w-full px-4 pb-16 flex flex-col gap-16">
		<Section id="hero" class="md:mt-6">
			<Hero />
		</Section>
		<Section id="servicios">
			<Services />
		</Section>
		<Section id="medios">
			<Media />
		</Section>
		<Section id="opiniones">
			<Reviews />
		</Section>
	</main>
</Layout>
