---
import Layout from "@/layouts/Layout.astro";

import Header from "@/components/header/Header.astro";
import HeroSection from "@/components/sections/hero/HeroSection.astro";
import MediaSection from "@/components/sections/media/MediaSection.astro";
import ReviewsSection from "@/components/sections/reviews/ReviewsSection.astro";
import ServicesSection from "@/components/sections/services/ServicesSection.astro";
---

<Layout title="Gaterapia">
	<Header />
	<main class="w-full px-4 pb-16 flex flex-col gap-16">
		<HeroSection class="mx-auto max-w-6xl" />
		<ServicesSection class="mx-auto max-w-6xl" />
		<MediaSection class="mx-auto max-w-6xl" />
		<ReviewsSection class="mx-auto max-w-6xl" />
	</main>
</Layout>
