---
import Layout from "@/layouts/Layout.astro";

import Section from "@/components/Section.astro";
import Hero from "@/components/sections/hero/Hero.astro";
import Services from "@/components/sections/services/Services.astro";
---

<Layout title="Gaterapia">
	<main class="w-full px-4 flex flex-col gap-10 sm:gap-4">
		<Section id="hero">
			<Hero />
		</Section>
		<Section id="servicios">
			<Services />
		</Section>
	</main>
</Layout>
