---
interface Props {
  href: string;
  title?: string;
}

const { href, title = "" } = Astro.props;
---

<li>
  <a
    href={href}
    title={title}
    class="transition-colors duration-500 inline-block px-2 py-2 align-middle"
  >
    <slot />
  </a>
</li>
