---
import NavbarLink from "./NavbarLink.astro";

import LinksIcon from "@/assets/icons/LinksIcon.astro";
import EmailIcon from "@/assets/icons/EmailIcon.astro";
import FacebookLogo from "@/assets/icons/FacebookLogo.astro";
import InstagramLogo from "@/assets/icons/InstagramLogo.astro";

const SOCIAL_LINKS = [
  {
    Icon: EmailIcon,
    label: "E-mail",
    href: "mailto:gaterapia.catsitters@gmail.com",
  },
  {
    Icon: InstagramLogo,
    label: "Instagram",
    href: "https://www.instagram.com/gaterapiaok",
  },
  {
    Icon: FacebookLogo,
    label: "Facebook",
    href: "https://www.facebook.com/gaterapiaok",
  },
];
---

<nav class="flex gap-4 sm:gap-0 justify-center items-center">
  {
    SOCIAL_LINKS.map(({ label, href, Icon }) => (
      <NavbarLink label={label} href={href}>
        <Icon class="size-5 transition-all group-hover:drop-shadow-[0px_0px_3px_#FFFFFF]" />
      </NavbarLink>
    ))
  }

  <span class="bg-white w-[1px] h-5 sm:mx-3 pointer-events-none select-none"
    >&nbsp;</span
  >

  <NavbarLink label="Info útil" href="/info-util">
    <LinksIcon
      class="size-5 transition-all group-hover:drop-shadow-[0px_0px_3px_#FFFFFF]"
    />
    <span class="h-5 grid place-items-center">INFO ÚTIL</span>
  </NavbarLink>
</nav>
<div
  id="navbar-backdrop"
  class={`
    absolute left-0 top-0
    ease-in-out opacity-0 -z-10
    transition-all duration-500
    w-[var(--width)] h-[var(--height)]
    bg-black/10 backdrop-blur-lg rounded-lg
    translate-x-[var(--left)] translate-y-[var(--top)]
  `}
>
</div>

<script src="@/lib/scripts/navbar.ts"></script>
