<div class="flex flex-col md:flex-row">
  <small class="text-center text-balance">© 2024 Gaterapia.</small>
  <small class="text-center text-balance -mt-2 md:mt-0">
    Todos los derechos reservados.
  </small>
</div>
