---
import Copyright from "./Copyright.astro";
import MadeBy from "./MadeBy.astro";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<footer
  class={`
    ${className ?? ""}
    w-full px-4 pb-4
  `}
>
  <div
    class={`
      mx-auto mt-4 w-full max-w-6xl p-8 rounded-2xl
      bg-black/10 text-white font-medium text-lg
      flex gap-4 flex-col items-center justify-center md:flex-row md:justify-between
    `}
  >
    <Copyright />
    <MadeBy />
  </div>
</footer>
