---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<footer
  class={`
    ${className ?? ""}
    w-full px-4 pb-4
  `}
>
  <div
    class={`
      mx-auto mt-4 w-full max-w-6xl p-8 rounded-2xl
      bg-black/10 text-white font-medium text-lg
      flex gap-4 flex-col items-center justify-center md:flex-row md:justify-between
    `}
  >
    <div class="flex flex-col md:flex-row">
      <small class="text-center text-balance">© 2024 Gaterapia.&nbsp;</small>
      <small class="text-center text-balance -mt-2 md:mt-0">
        Todos los derechos reservados.
      </small>
    </div>
    <small class="text-center text-balance">
      Made with ❤️ by
      <a
        target="_blank"
        class="underline"
        rel="noopener noreferrer"
        href="https://www.linkedin.com/in/italodelap/"
      >
        @italodelap
      </a>
    </small>
  </div>
</footer>
