<footer class="w-full px-4 pb-4 pt-24">
  <div
    class={`
    mx-auto w-full max-w-6xl p-8 rounded-2xl
    bg-black/10 text-white font-medium text-lg
    flex flex-col items-center justify-center md:flex-row md:justify-between
  `}
  >
    <small>© 2024 Gaterapia. Todos los derechos reservados.</small>
    <small>
      Made with ❤️ by
      <a
        target="_blank"
        class="underline"
        rel="noopener noreferrer"
        href="https://www.linkedin.com/in/italodelap/"
      >
        @italodelap
      </a>
    </small>
  </div>
</footer>
