<small class="text-center text-balance">
  Made with ❤️ by
  <a
    target="_blank"
    class="underline"
    rel="noopener noreferrer"
    href="https://www.linkedin.com/in/italodelap/"
  >
    @italodelap
  </a>
</small>
