---
import ArrowIcon from "@/assets/icons/ArrowIcon.astro";
---

<a
  href="/"
  class={`
      inline-flex items-center gap-2
      transition-colors duration-300
      font-medium text-neutral-300 hover:text-white
    `}
>
  <ArrowIcon class="size-6 rotate-180" />
  Volver a <span class="font-semibold">gaterapia.com</span>
</a>
