---
import type { GetStaticPaths } from "astro";

import { getCollection } from "astro:content";

import Layout from "@/layouts/Layout.astro";
import ServiceAside from "@/sections/servicios/ServiceAside.astro";
import ServiceHeading from "@/sections/servicios/ServiceHeading.astro";
import ServiceContentContainer from "@/sections/servicios/ServiceContentContainer.astro";

export const getStaticPaths = (async () => {
  const services = await getCollection("services");
  return services.map((service) => ({
    params: { slug: service.slug },
    props: service,
  }));
}) satisfies GetStaticPaths;

const service = Astro.props;
const { Content } = await service.render();

const { slug } = service;
const { title } = service.data;
---

<Layout title={`${title} | Gaterapia`}>
  <div
    class={`
      min-h-screen mx-auto md:max-w-6xl
      service-layout grid justify-center gap-3 lg:gap-8
    `}
  >
    <ServiceHeading />
    <ServiceAside slug={slug} title={title} />
    <ServiceContentContainer>
      <Content />
    </ServiceContentContainer>
  </div>
</Layout>

<style>
  @media (min-width: 1024px) {
    .service-layout {
      grid-template-areas:
        "heading heading"
        "aside main";
      grid-template-rows: auto 1fr;
      grid-template-columns: 30rem 1fr;
    }
  }
</style>
