---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Terapia floral para animales">
  <h1 class="font-['Caveat_Brush'] text-white text-5xl text-center py-12">
    Terapia floral para animales
  </h1>
</Layout>
