---
import BackToGaterapiaButton from "@/components/back-to-gaterapia-button/BackToGaterapiaButton.astro";
---

<div class="px-4 lg:px-0 lg:[grid-area:heading] lg:mt-4">
  <BackToGaterapiaButton />
</div>
